$heading-height: 6.9rem;
$submenu-bg-color: get-color('light-glare');
$mobileMenuItemBorder: 1px solid rgba(get-color('secondary'), 0.3);

.nav {
  line-height: 1;
  font-weight: 700;
  width: 100%;

  // from tut
  position: fixed;
  height: calc(100vh - #{$heading-height});
  top: $heading-height;
  left: 0;
  background-color: get-color('light-glare');
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(100%);
  transition: .65s;
  border-top: $mobileMenuItemBorder;
  
  
  &[data-open="true"]{
    transform: translateX(0);
  }
  
  @include media-query('lg') {
    display: flex; 
    border-top: none;
    padding: get-size('200') 0;
    display: block;
    position: static;
    background-color: transparent;
    height: auto;
    transform: translateX(0);
    overflow-x: visible;
    overflow-y: visible;
    transition: none;

    
  }
  
  &__list {
    width: 100%;
    justify-items: center;
    
    @include media-query('lg') {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      border: 1px solid rgba($color: get-color('primary'), $alpha: 0.7);
      width: auto;
      margin: 0 auto!important;
    }

    > li.nav__item {
      border-bottom: $mobileMenuItemBorder;
      flex: 1;
      position: relative;
      
      &.no-2 {
        margin-right: 50px;
      }
      &.no-3 {
        margin-left: 50px;
      }

      @include media-query('lg') {
        border: none;
        display: flex;
        justify-content: center;     
      }

      > a, > button {
        width: 100%;
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
        position: relative;
        color: get-color('dark');
        padding: get-size('300');
        outline-offset: -0.25rem;
        font-weight: 600;
        text-transform: uppercase;
        
        svg {
          width: 0.5rem;
          height: 1rem;
          margin-left: 0.25rem;
          transform: translateY(-2px);
        }

        &:hover, &:focus{
          color: get-color('light')!important;
          background-color: get-color('primary');
        }
        
        @media screen and (min-width: 960px) {
          white-space: nowrap;
        }

        @include media-query('lg') {
          font-size: get-size('400');
          padding: 1rem;
          
          width: auto;
          outline-offset: 0.25rem;
          outline-color: get-color('primary');
          outline-width: 2px;
          &:hover {
            transform: scale(1);
            transition: .1s;
            color: get-color('primary');
          }

          // active main menu items  // , &[aria-current='page'] 
          &[data-state='active'] {
            &:after {
              content: '';
              width: 0;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-bottom: 20px solid get-color('primary');
              position: absolute;
              top: calc(100% + 5px);
              left: 0;
            }
          }
        }

      } // a, button

    } // li.nav__item
    
  
    
  } // &__list

  ul.nav__submenu {    
    background-color: $submenu-bg-color;
    position: relative;
    
    @include media-query('lg') {
      padding-bottom: get-size('400');
      padding-top: 0;
      position: absolute;
      top: calc(120% + 14px);
      left: 0;
      box-shadow: 
      0 2px 4px rgba(get-color('secondary'), 0.05),
      0 2px 18px 3px rgba(get-color('secondary'), 0.1);
      display: flex;
      // width: 43rem;
      border-top: 3px solid get-color('primary');
      z-index: 990;

      &.no-3 {
        left: -300px;
      }
      &.no-4 {
        left: auto;
        right: 20%;
      }

      // spacing between columns
      > li + li {
        // padding-left: get-size('400');
      }
    }

    .arrow{
      position: absolute;
      width: 11px;
      height: 11px;
      top: -5.5px;
      left: 32px;
      // background-color: $submenu-bg-color;
      background-color: $submenu-bg-color;
      transform: rotate(45deg);
      cursor: pointer;
      transition: .3s;
      border-top: $mobileMenuItemBorder;
      border-left: $mobileMenuItemBorder;
      z-index: 3;

      @include media-query('lg') {
        display: none;
      }
    }

  }
 
  &__column {
    @include media-query('lg') {
      flex-grow: 1;
      flex-basis: 1;
      flex-shrink: 1;
    }

    .col-title {
      display: block;
      text-transform: uppercase;
      font-size: get-size('300');
      padding: get-size('300') get-size('500');
      
      border-top: $mobileMenuItemBorder;
      
      @include media-query('lg') {
        border-top: none;
        padding: get-size('300');
        padding-top: get-size('800');
        padding-right: get-size('800');
        border-left: 1px solid rgba($color: get-color('light'), $alpha: 1);
        color: get-color('light');
        background-color: get-color("primary-glare");
        margin-bottom: get-size('200');
        letter-spacing: 1px;
        font-weight: normal;
        white-space: nowrap;
      }
    }

    li {
      border-top: $mobileMenuItemBorder;
      @include media-query('lg') {
        border-top: none;
        padding: 0 1rem;
        // border-left: 2px solid rgba($color: get-color('primary'), $alpha: 0.3)   
      }
    }
    a {
      font-size: 1rem;
      padding: get-size('200') get-size('500');
      color: rgba(get-color('dark'), 1);
      display: block;
      text-decoration: none;
      // text-transform: uppercase;
      // letter-spacing: 0.05em;
      font-weight: 700;
      line-height: 1.3;
      outline-offset: -0.25rem;
      font-weight: 400;

      @include media-query('lg') {
        padding: get-size('200') get-size('300');
        white-space: nowrap;
        padding-left: get-size('200');
      }
    }
  }
}

