.site-head {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: get-color('primary');
  z-index: 900;

  &__logo {
    position: absolute;
    top:-2.3rem;
    left: 50%;
    transform: translateX(-100px);
    width: 200px;
    z-index: 900;
  }

  &__inner {}

  &__topbar {
    background-color: get-color('light');
    padding: 0.5rem 0;

    
    
    
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      
    }

    & a {
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
    }

    & > div > div:first-child {
      & > * {
        margin-right: get-size('600');
      }
    }

    & > div > div:last-child {

      & > * {
        margin-left: get-size('600');
      }
    }

    // color: #fff;
    // a {
    //   color: #fff;
    // }
  }

}


