<footer class="footer">
  <div class="wrapper">
    <div class="footer__grid [ flow ]">

      <div class="footer__logos">
        <img height="100" src="/images/logos/ontario-camp-association-accredited-member-badge.png" alt="Ontario Camp Association Accredited Member Badge" />
        <img height="100" src="/images/logos/amici-camping-charity-logo.png" alt="Amici Camping Charity" />
      </div>

      <ul class="footer__social-wrapper">
        {% include 'partials/social-icons.html' %}
      </ul>

      <div class="footer__phone">
        <a href="tel:1-800-966-1406"><span>Call us</span><br><span>1 (800) 966-1406</span></a>
      </div>

      <div class="footer__address [ flow ]">
        <p class="text-600">Canadian Adventure Camp</p>
        <p>[SEO text here]</p>
        <p><a href="mailto:info@canadianadventurecamp.com">info@canadianadventurecamp.com</a></p>
        <p>15 Idleswift Drive Thornhill, <br /> Ontario, L4J 1K9 Canada</p>
      </div>

      <div class="footer__col col1">
        <h4>Programs</h4>
        <ul>
          <li><a href="{{ nav[0].url }}">General Program</a></li>
          <li><a href="{{ nav[1].url }}">Specialty Programs</a></li>
          <li><a href="{{ nav[2].url }}">Youth Leadership Program</a></li>
          <li><a href="{{ nav[3].url }}">Date &amp; Rates</a></li>
          <li><a href="{{ nav[3].url }}">NCCP &amp; Adult Camp</a></li>

        </ul>
      </div>

      <div class="footer__col col2">
        <h4>About</h4>
        <ul>
          <li><a href="/join-our-team/">Join Our Team</a></li>
          <li><a href="/join-our-team/">Community Initiatives</a></li>
          <li><a href="/history/">History</a></li>
          <li><a href="{{ nav[4].url }}">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer__col col3">
        <h4>Legal</h4>
        <ul>
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
          <li><a href="/accessibility-statement/">Accessibility Statement</a></li>
          <li><a href="/accessibility-policy/">Accessibility Policy</a></li>
        </ul>
      </div>

    </div>
  </div>
    <div class="footer__bottom">
      <div class="wrapper footer__bottom-content">
          <p>©2014-2021 Canadian Adventure Camp, Inc. All Rights Reserved. | 
          Website by: <a href="https://studiorovst.com" target="_blank" rel="noopener noreferrer">Studio Rovst</a></p>
      </div>
    </div>
</footer>